
.buttonInsertValue {
    color: var(--grey-1);
    background-color: var(--color-primary);

    &:hover {
        background-color: var(--color-primary-2);
        color: var(--grey-1);
    }
}

.buttonDelete {
    color: var(--grey-4);
    background-color: var(--grey-2);

    &:hover {
    color: var(--grey-2);
    background-color: var(--grey-4);
    }
}