.title1 {
    color: var(--grey-4);
    font-family: var(--font-primary) bold;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 3rem;
}

.title2 {
    color: var(--grey-4);
    font-family: var(--font-primary);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2.125rem;
}

.title3 {
    color: var(--grey-4);
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.875rem;
}

.title4 {
    color: var(--grey-4);
    font-family: var(--font-primary);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.headline {
    color: var(--grey-3);
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.bodyText {
    color: var(--grey-3);
    font-family: var(--font-primary);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.375rem;
}



