@media (max-width: 940px) {
    .list__container {
        margin-left: 0px;
    }
    p {
      margin-left: 20px;  
    }
}

@media (min-width: 940px){
    .list__container {
        margin: 42px 0px 0px 20px;
    }

}